<h1>ユーザー一覧</h1>

<ul class="users">
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>名前</th>
        <th>メール</th>
        <th>admin</th>
        <th>activated</th>
        <th>status</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tbody>
        <tr>
          <th><%= link_to user.name, admin_user_path(user) %></th>
          <th><%= user.email %></th>
          <th><%= user.admin %></th>
          <th><%= user.activated %></th>
          <th><%= user.status %></th>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>


